
.card{
    margin: auto;
    width: 400px;
}

.card-header {
    background-color: dimgrey;
    position: relative;
    border: solid 1px dimgrey;
}

.card-header .button{
    font-size: 50px;
    position: absolute;
    right:  -5px;
    top:  -5px;
}
.card-header .button:focus{
    color: chartreuse;
}

.card-header .logo{
    font-size: 200px;
    text-align: center;
    position: relative;
    margin-top: 25px;
}


.card-header .logo .fa-user-circle {
    color: chartreuse;
    background-color: white;
    border-radius: 50%;

}

.card-header .title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color:  white;
    padding: 15px;
    margin-bottom: 25px;
}

.card-content {
    margin: auto;
    width: 400px;
}

.list-item {
    border-top: solid medium black;
    font-size: 50px;
    margin: auto;
    padding: 20px;
}

.list-item:focus{
    border-right: solid 5px chartreuse;
}


